.changes-is-coming {
  min-height: 450px;
  background-image: url('../assets/images/bg-header-people.png');
  background-size: cover;
  .call-to-action {
    h1 {
      text-align: center;
    }
  }
}

.benefints {
	
}

.how-to-vote {
	background-color: #e6e6e6;
}

.support {
    min-height: 280px;
	background-image: url('../assets/images/bg-footer-people.png');
	background-size: cover;
}